# === General ===
node_modules/
.env




# === Frontend Specific ===
learnhub-frontend/node_modules/
learnhub-frontend/.env


# === Backend Specific ===
learnhub-backend/node_modules/
learnhub-backend/.env

